body {
  font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.hs-text-jstified {
  padding: 20px;
  text-align: left;
}

.flex-container {
  display: flex; /* 使用 Flex 布局 */
  justify-content: space-between; /* 左右对齐 */
  align-items: center; /* 垂直居中对齐 */
  padding: 0%;
}

.has-text-justified {
  justify-content: space-between; /* 左右对齐 */
  align-items: center; /* 垂直居中对齐 */
  text-align: center; /* 垂直居中对齐 */
  padding: 10px;
}

.image-row-blank {
  max-width: 10%; /* Set the maximum width for each image */
}

.image-row-center {
  max-width: 80%; /* Set the maximum width for each image */
}

.image-row-2 {
  max-width: 50%; /* Set the maximum width for each image */
}

.image-row-3 {
  max-width: 33.3%; /* Set the maximum width for each image */
}

.image-row-4 {
  max-width: 25%; /* Set the maximum width for each image */
  justify-content: center; 
  align-items: center;
}

.image-row-5 {
  max-width: 20%; /* Set the maximum width for each image */
}

.image-row-6 {
  max-width: 16.7%; /* Set the maximum width for each image */
}


.success {
  background-color: #77ff77; 
  justify-content: center; 
  align-items: center;
  padding: 1px;
  font-family: 'Google Sans', sans-serif;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  /* color: #005878; */
}

.failed {
  background-color: #ff7777; 
  justify-content: center; 
  align-items: center;
  padding-top: 1px;
  font-family: 'Google Sans', sans-serif;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  /* color: #005878; */
}


.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   /* color: hsl(204, 86%, 53%) !important; */
   color: #005878 !important;
}

.publication-authors a {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.author-block-name {
  display: inline-block;
  color: #005878 ;
}

.publication-banner img {
}

.publication-authors {
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#abstract {
  background-color: #eeeeee;
}

.is-3 {
  color: #005878 !important;
}

table {
  border-collapse: collapse;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  width: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
  font-family: 'New Times Roman';
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0px;
}

/* Style the table header row */
th {
  background-color: #f2f2f2;
}

/* Style the top border line */
table thead tr {
  border-top: 2px solid #000000; /* Change the color or width as needed */
}

table tr.middle-border td {
  border-top: 2px solid #000; /* Change the color or width as needed */
}

table tr td.rowhead-border {
  border-right: 1px solid #888888; /* Change the color or width as needed */
}

table tr th.rowhead-border {
  border-right: 1px solid #888888; /* Change the color or width as needed */
}


/* Slideshow container */
.slideshow-container {
    width: 100%; /* 确保容器宽度为100% */
    position: relative;
    display: flex;
    margin: 100px auto;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* Scaled Image */
.scaled-image {
    width: 200%; /* 放大宽度至原始大小的200% */
    height: auto; /* 高度自适应 */
    display: block;
    margin: 0;
    max-width: none; /* 确保没有最大宽度限制 */
    position: absolute; /* 使用绝对定位 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 通过 transform 将图片中心对齐到容器中心 */
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides2 {
  display: none;
}
.mySlides3 {
  display: none;
}
.mySlides4 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
